.header{
  width: 100%;
  height: 112px;
  box-sizing: border-box;
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  justify-content: space-between;
    &_Mob{
    display: flex;
    align-items: center;
  }
  &_button{
    display: flex;
    align-items: center;
  }
    &_logo{
      background: url("../img/logo_Protocol.svg");
      min-width: 223.85px;
      height: 69.67px;
  }
  &_registration{
    display: flex;
    background: #F2C25B;
    border-radius: 4px;
    padding: 0 19px;
    width: 177px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition:0.4s;
    &:hover{
      background: #FFCC60;
    }
    & a{
      text-decoration: none;
      color: black;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
    }
  }
  &_enter{
    margin-left: 1.2vw;
    padding: 0 19px;
    display: flex;
    background: #BD462B;
    border-radius: 4px;
    color: white;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    transition: 0.4s;
    &:hover{
      background: #B62C0C;;
    }
    & a{
      text-decoration: none;
      color:white;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
    }
  }
  &_loggedBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &.img{
        height: 19px;
        width: 32px;
      }
      &.link{
        width: 40px;
        height: 40px;
        background-color: white;
        transition: 0.4s;
        &:hover{
          background-color: #FFF2D9;
          border-radius: 20px;
          transform: scale(1.2);
        }
      }
      &.counter{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FF3B20;
        border-radius: 7px;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
      }
    }
    &__profile{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      &__img{
        margin-right: 10px;
        width: 52px;
        height: 52px;
        background: url("../img/Oval.png") center;
        background-size: contain;
        border: 1px solid #E2B350;
        border-radius: 50%;
      }
      &__text{
        font-family: Open Sans, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
      }
    }

  }

}

select{
  margin-left: 1.7vw;
  width: 60px;
  height: 40px;
  background: #F5F5F5;
  box-shadow: 3px 3px 80px rgba(55, 84, 170, 0.1), -3px -3px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border:1px solid #D8D8D8;
  font-size: 16px;
}


@media screen and (max-width: 768px){
  .header{
    padding: 11px 15px 18px 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &_Mob{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_button{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_logo{
      background-repeat: no-repeat;
      margin-bottom: 16.2px;
    }
    & select{
      float: right;
      margin-right: 0;
    }
    &_enter{
      margin-left: 60px;
    }
    &_loggedBox{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}


@media screen and (max-width: 1150px){
  .header{
    padding:0vw;
    justify-content: space-around;
  }
  select {
    margin-right: 10vw;
  }
}


