.header{
  width: 100%;
  height: 112px;
  padding: 0 10.5vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
    &_logo{
      background: url("../img/logo_Protocol.svg");
      min-width: 223.85px;
      height: 69.67px;
  }
  &_search{
    display: flex;
    width: 420px;
    height: 40px;
    box-sizing: border-box;
    margin-right: 8vw;
    &__searchButton{
      width: 40px;
      border: 1px solid #D8D8D8;
      border-right:none;
      box-sizing: border-box;
      text-align: center;
      color: #fff;
      border-radius: 4px 0 0 4px;
      cursor: pointer;
      font-size: 20px;
      background: #F7F7F7 url("../img/search (2) 1.svg") no-repeat center;
    }
    &__searchTerm{
      font-size: 16px;
      line-height: 19px;
      width: 100%;
      border: 1px solid #D8D8D8;
      background: #F7F7F7;
      border-left: none;
      padding: 5px;
      border-radius: 0 5px 5px 0;
      outline: none;
      color: black;
    }
  }
  &_registration{
    display: flex;
    background: #F2C25B;
    border-radius: 4px;
    padding: 0 19px;
    width: 177px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition:0.4s;
    &:hover{
      background: #FFCC60;
    }
    & a{
      text-decoration: none;
      color: black;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
    }
  }
  &_enter{
    margin-left: 1.2vw;
    padding: 0 19px;
    display: flex;
    background: #BD462B;
    border-radius: 4px;
    color: white;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16px;
    transition: 0.4s;
    &:hover{
      background: #B62C0C;;
    }
    & a{
      text-decoration: none;
      color:white;
      font-size: 14px;
      line-height: 16px;
      font-width: 600;
    }
  }
}

select{
  margin-left: 1.7vw;
  margin-right: 1vw;
  width: 60px;
  height: 40px;
  background: #F5F5F5;
  box-shadow: 3px 3px 80px rgba(55, 84, 170, 0.1), -3px -3px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border:1px solid #D8D8D8;
  font-size: 16px;
}

@media screen and (max-width: 768px){
  .header{
    padding: 11px 15px 18px 15px;
    height: 100%;
    display: grid;
    grid-template-areas: "logo langChose"
                          "search search"
                          "registration enter";
    &_logo{
      grid-area: logo;
      background-repeat: no-repeat;
      margin-bottom: 16.2px;
    }
    & select{
      grid-area: langChose;
      float: right;
    }
    &_search{
      grid-area: search;
      margin-bottom: 16px;
      margin-right: 0;
      width: 100%;
    }
    &_registration{
      grid-area:registration;
    }
    &_enter{
      margin-left: 60px;
      grid-area: enter;
    }
  }
}


