.section3 {
  font-family: 'Open Sans', sans-serif;
  max-width: 1440px;
  &_heading{
    margin: 2.8vw 26.7vw ;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #383838;
  }
  &_flexbox1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10.4vw;
    margin-right: 10.4vw;
    &__block1{
      box-sizing: border-box;
      background: #F4F4F4;
      width: 370px;
      height: 608px;
      padding-top:81.1px ;
      float: left;
      & h2{
        margin: 74px 17px 16px 24px;
        font-size: 24px;
        line-height: 33px;
        color: #383838;
      }
      & p{
        font-size: 14px;
        line-height: 19px;
        color: #383838;
        margin-left: 1.7vw;
        margin-bottom: 20px;
      }
      & div{
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        margin-left: 1.7vw;
        background: #F2C25B;
        border-radius: 4px;
        width: 15vw;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover{
          background: #FFCC60;
        }
      }
    }
    &__block2{
      background: #F4F4F4;
      width: 370px;
      height: 608px;
      float: left;
      & img{
        margin-top:66.9px ;
      }
      & h2{
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #383838;
        padding: 20.5px 35px 0 24px;
      }
      & p{
        font-size: 14px;
        line-height: 19px;
        color: #383838;
        margin: 0 17px 0 24px;
      }
      & div {
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        margin-left: 1.7vw;
        background: #F2C25B;
        border-radius: 4px;
        width: 15vw;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover {
          background: #FFCC60;
        }
      }
    }
    &__block3{
      background: #F4F4F4;
      width: 370px;
      height: 608px;
      float: left;
      & h2{
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #383838;
        padding: 20.5px 35px 16px 24px;
      }
      & p{
        font-size: 14px;
        line-height: 19px;
        color: #383838;
        margin-left: 24px;
        margin-right: 17px;
      }
      & div {
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        margin-left: 1.7vw;
        background: #F2C25B;
        border-radius: 4px;
        width: 15vw;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover {
          background: #FFCC60;
        }
      }

    }
  }
  &_flexbox2{
    margin: 24px 10.4vw 42px 10.4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__block1{
      width: 370px;
      height: 382px;
      background: #F4F0EB;
      & img{
        margin: 16px 36px 16px 24px;
      }
      & h2{
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        color: #383838;
        margin-left: 24px;
      }
      & p{
        font-size: 14px;
        line-height: 19px;
        color: #383838;
        margin: auto 24px;
      }
      & div{
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        margin-left: 1.7vw;
        background: #F2C25B;
        border-radius: 4px;
        width: 15vw;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover {
          background: #FFCC60;
        }
      }
    }
    &__block2{
      box-sizing: border-box;
      width: 370px;
      height: 382px;
      background: #F4F0EB;
      float: left;
      padding-left: 24px;
      & img{
        margin: 27.5px 22.21px 28.75px 6px;
      }
      & h2{
        font-size: 20px;
        line-height: 27px;
        color: #383838;
      }
      & p{
        font-size: 14px;
        line-height: 19px;
        color: #383838;
      }
      & div{
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        background: #F2C25B;
        border-radius: 4px;
        width: 15vw;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover {
          background: #FFCC60;
        }
      }
    }
    &__block3{
      box-sizing: border-box;
      width: 370px;
      height: 382px;
      background: #F4F0EB;
      float: left;
      padding-left: 24px;
      & img{
        margin: 27.5px 22.21px 28.75px 6px;
      }
      & h2{
        font-size: 20px;
        line-height: 27px;
        color: #383838;
      }
      & p{
        font-size: 14px;
        line-height: 19px;
        color: #383838;
      }
      & div{
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        display: flex;
        background: #F2C25B;
        border-radius: 4px;
        width: 15vw;
        height: 48px;
        font-size: 14px;
        line-height: 16px;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        &:hover {
          background: #FFCC60;
        }
      }
    }
  }

}
