.section6 {
  background: #F4F0EB;
  max-width: 1440px;
  height: 556px;
  padding: 0.1vw 10.4vw 3.7vw 14.6vw;
  font-family: "Open Sans", sans-serif;

  &_heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #383838;
  }

  &_flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &_newsBlock {
    float: left;
    display: flex;
    flex-direction: column;
    height: 285px;
    justify-content: space-between;

    &__img {
      box-sizing: border-box;
      padding-right: 220px;
      margin-bottom: 10px;
    }

    &__heading {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #1D1D1D;
      margin-bottom: 40px;
    }

    &__link {
      text-decoration: none;
      margin-bottom: 10px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #BD462B;
    }
  }

  &_dataBlock {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
      box-sizing: border-box;
      padding-right: 220px;
    }

    &__heading {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #1D1D1D;
    }

    &__link {
      text-decoration: none;
      margin-bottom: 10px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #BD462B;
    }
  }

  &_analytics {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
      box-sizing: border-box;
      padding-right: 220px;
    }

    &__heading {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #1D1D1D;
    }

    &__link {
      text-decoration: none;
      margin-bottom: 10px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #BD462B;
    }
  }
}
