.section5 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  height: 468px;
  max-width: 1120px;

    &_heading{
      grid-area: heading;
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      color: #383838;
    }
    .section5_paragraph {
      font-size: 18px;
      line-height: 25px;
      color: #383838;
      max-width: 697px;
    }
    &_button {
      max-width: 230px;
      background: #F2C25B;
      border-radius: 4px;
      padding: 16px 24px;
      line-height: 16px;
      text-align: center;
      color: #000000;
      transition: 0.4s;
      & a {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: black;
        text-decoration: none;
      }
      &:hover{
        background: #FFCC60
      }
    }
    &_img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
