.section1{
  height: 467px;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 16px 10.4vw 8.5vw 10.4vw;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-areas:
          "empty  img"
          "heading  img"
          "paragraph img"
          "button  img";
  &_heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #383838;
    grid-area:heading;
  }
  &_paragraph{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #383838;
    grid-area:paragraph;
  }
  &_button{
    background: #F2C25B;
    border-radius: 4px;
    width: 307px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    grid-area:button;
    &:hover{
      background: #FFCC60;
    }
    &__link{
      text-decoration: none;
      color:black;
      font-family: Roboto, serif;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      font-weight: 600;
    }
  }

  &_img{
    grid-area:img;
    background: url("../img/man_idea.svg");
    width: 365px;
    height: 405px;
  }
}

@media screen and (max-width: 1050px) {
  .b_img img {
     max-width: 100%;
  }

  .b_img2 {
    margin: 0px;
  }

  .section3_flexbox__block1 p, .section3_flexbox__block2 p, .section3_flexbox__block3 p {
    max-width: 311px;
    width: 100%;
    height: 79px;
    margin-top: 0px;
  }

  div.section3_flexbox2__block1, div.section3_flexbox2__block2, div.section3_flexbox2__block3 {
    height: 390px;
    width: 246px;
  }

  .b_text {
    display: flex;
    flex-direction: column;
  }

  .section3_flexbox2__block1, .section3_flexbox2__block2, .section3_flexbox2__block3 {
    flex-direction: column;
    display: flex;
  }

  div.section3_flexbox2 .b_img2 {
    margin-left: 0px;
  }

  .section3_flexbox2 img {
    height: 130px;
  }

  section.section4 {
    padding: 2.8vw 10px;
  }

  section img.section4_img {
    width: 400px;
  }

  .section4_textblock__heading {
    margin: 0;
  }

  .section5 {
    padding: 10px;
  }

  section.section6 {
    padding: 10px;
  }

  .nav_list {
    min-width: 100%;
  }

  section.section5 {
    width: auto;
  }

  section.section9 {
    padding: 10px;
  }

  .section3_flexbox2__block1 .b_img2, .section3_flexbox2 img, div.section3_flexbox2 .b_img2 {
    width: 246px;
    height: 62px;
  }

  div.b_button {
    padding: 0px 24px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .section1{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    &_heading{
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
    }
    &_paragraph{
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
    }
    &_img{
      margin-bottom: 12px;
    }
  }
}
