.section4Mob{
  display: none;
}
.section4{
  max-width: 1440px;
  height: 100%;
  padding: 2.8vw 10.4vw;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Open Sans", sans-serif;
  background: #F4F0EB;
  & img{
    width: inherit;
  }
  &_textblock{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    &__heading{
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      color: #383838;
    }
    &__paragraph{
      font-size: 18px;
      line-height: 25px;
      color: #383838;
    }
    &__button{
      margin-top:31px;
      cursor: pointer;
      background: #F2C25B;
      border-radius: 4px;
      width: 152px;
      height: 48px;
      font-family: Roboto, sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
      &:hover{
        background: #FFCC60;
      }
      a {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}
@media screen and (max-width: 900px){
  .section4 {
    display: none;
  }
  .section4Mob{
    display: flex;
    flex-direction: column;
    padding: 21px 17px 21px 18px ;
    &_heading{
      float: left;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #383838;
    }
    &_img{
      width: 63vw;
    }
    &_paragraph{
      float: left;
      font-size: 14px;
      line-height: 19px;
      color: #383838;
    }
    &_button{
      margin-top:21px ;
      cursor: pointer;
      background: #F2C25B;
      border-radius: 4px;
      width: 152px;
      height: 48px;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
      &:hover{
        background: #FFCC60;
      }
    }

  }
}
