.section7{
  max-width: 1000px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  &_heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #383838;
  }
    &_counters{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      color: #383838;
      &__counter {
        max-width: 230px;
    }
  }
  &_linkBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & a{
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #383838;
      text-decoration: none;
      display: flex;
      text-align: center;
      margin-bottom: 18px;
    }
  }
}

.num{
  font-weight: 600;
  font-size: 64px;
  line-height: 87px;
  color: #BD462B;
}

