.section1{
  height: 467px;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 16px 10.4vw 8.5vw 10.4vw;
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-areas:
          "empty  img"
          "heading  img"
          "paragraph img"
          "button  img";
  &_heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #383838;
    grid-area:heading;
  }
  &_paragraph{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #383838;
    grid-area:paragraph;
  }
  &_button{
    background: #F2C25B;
    border-radius: 4px;
    width: 307px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    grid-area:button;
    &:hover{
      background: #FFCC60;
    }
    &__link{
      text-decoration: none;
      color:black;
      font-family: Roboto, serif;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      font-weight: 600;
    }
  }

  &_img{
    grid-area:img;
    background: url("../img/man_idea.svg");
    width: 365px;
    height: 405px;
  }
}

@media screen and (max-width: 1050px) {
  .b_img img {
    max-width: 100%;
  }

  .b_img2 {
    margin: 0px;
  }

  .section3_flexbox__block1 p, .section3_flexbox__block2 p, .section3_flexbox__block3 p {
    max-width: 311px;
    width: 100%;
    height: 79px;
    margin-top: 0px;
  }

  div.section3_flexbox2__block1, div.section3_flexbox2__block2, div.section3_flexbox2__block3 {
    height: 390px;
    width: 246px;
  }

  .b_text {
    display: flex;
    flex-direction: column;
  }

  .section3_flexbox2__block1, .section3_flexbox2__block2, .section3_flexbox2__block3 {
    flex-direction: column;
    display: flex;
  }

  div.section3_flexbox2 .b_img2 {
    margin-left: 0px;
  }

  .section3_flexbox2 img {
    height: 130px;
  }

  section.section4 {
    padding: 2.8vw 10px;
  }

  section img.section4_img {
    width: 400px;
  }

  .section4_textblock__heading {
    margin: 0;
  }

  .section5 {
    padding: 10px;
  }

  section.section6 {
    padding: 10px;
  }

  .nav_list {
    min-width: 100%;
  }

  section.section5 {
    width: auto;
  }

  section.section9 {
    padding: 10px;
  }

  .section3_flexbox2__block1 .b_img2, .section3_flexbox2 img, div.section3_flexbox2 .b_img2 {
    width: 246px;
    height: 62px;
  }

  div.b_button {
    padding: 0px 24px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div .section3_flexbox__block1 p, div .section3_flexbox__block2 p, div .section3_flexbox__block3 p {
    max-width: 311px;
    width: 100%;
    height: 129px;
  }
  .section4Mob_img {
    width: 41vw;
    margin: 0 auto;
  }

  iframe.section4Mob_video {
    margin: 0 auto;
  }

  .section4Mob_button {
    margin: 15px auto 0;
  }

  img.section5_img {
    width: 520px;
  }

  img.section6_newsBlock__img, img.section6_dataBlock__img, img.section6_analytics__img {
    box-sizing: border-box;
    padding-right: 0px;
    margin-bottom: 10px;
  }

  .section7 {
    padding: 10px;
  }

  div.num {
    font-size: 34px;
    line-height: 67px;
  }

  div.section7_counters__counter {
    max-width: 160px;
  }

  section.section9 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }

  .section9_firstBlock, .section9_secondBlock, .section9_thirdBlock {
    margin: 0 auto;
  }


}

@media screen and (max-width: 768px) {
  .section1{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    &_heading{
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
    }
    &_paragraph{
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
    }
    &_img{
      margin-bottom: 12px;
    }
  }

}
@media screen and (max-width: 600px) {
  h1.section3_heading {
    width: 100%;
    height: 58px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #383838;
    margin: 20px auto;
  }

  .section3_flexbox, .section3_flexbox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    flex-direction: column;
  }

  div.section3_flexbox__block1, div.section3_flexbox__block2, div.section3_flexbox__block3 {
    width: 100%;
    max-width: 100%;
  }

  div .section3_flexbox__block1 p, div .section3_flexbox__block2 p, div .section3_flexbox__block3 p {
    max-width: 100%;
    width: 100%;
    height: 50%;
  }

  div.section3_flexbox__block1, div.section3_flexbox__block2, div.section3_flexbox__block3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    margin: 5px auto;
  }

  .section1 {
    padding: 5px;
    margin-bottom: 10px;
  }

  h1.section1_heading {
    text-align: center;
  }

  .section1_button {
    width: 90%;
  }

  .b_text {
    justify-content: center;
    align-items: center;
  }

  div.b_button {
    width: 100%;
    max-width: 90%;
  }

  .header_enter {
    margin-left: 40px;
  }
  section.section6{
    height: auto;
  }
  div.section6_flexbox{
    flex-direction: column;
  }
  img.section6_dataBlock__img, img.section6_newsBlock__img, img.section6_analytics__img {
    width: 56px;
  }
  div.section6_dataBlock {
    margin-top: 108px;
  }
  h2.section6_heading{
    display: flex;
    font-size: 24px;
    line-height: 33px;
    justify-content: center;
  }

  div.section7_counters{
    justify-content: space-around;
  }

  div.section3_flexbox2__block1, div.section3_flexbox2__block2, div.section3_flexbox2__block3 {
    max-width: 100%;
    width: 100%;
    margin: 0px 0px 10px 0px;
  }

  div.section3_flexbox {
    margin-bottom: 5px;
  }

  h2.section4Mob_heading {
    text-align: center;
  }

  .section3 {
    padding: 0px;
  }

  div.b_button {
    height: 48px;
    min-height: 48px;
  }

  div.section4Mob_button {
    width: 90%;
  }

  .section3_flexbox2__block1 .b_img2, .section3_flexbox2 img, div.section3_flexbox2 .b_img2 {
    width: 100%;
    height: 100%;
  }

  .section4Mob_img {
    width: 100%;
    margin: 0 auto;
  }

  div.section5_button {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    z-index: 2;
    left: 0;
    right: 0;
  }

  img.section5_img {
    position: relative;
    width: 100%;
  }

  section.section5 {
    height: 100%;
  }

  section.section5 {
    height: 600px;
    padding-bottom: 5px;
  }

  .section7 {
    max-width: 100%;
    width: 100%;
    padding: 0px;
  }

  h2.section7_heading, .section7_heading {
    padding-left: 10px;
  }

  .section7_linkBlock {
    padding: 10px;
  }
}
