.section2{
  height: 613px;
  background: #F4F0EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &_heading{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
  }
  &_video__mobile{
    display: none;
  }
}
@media screen and (max-width: 768px) {
    .section2{
      height: 296px;
      &_heading{
        font-size: 24px;
        line-height: 33px;
      }
      &_video{
        display: none;
      }
      &_video__mobile{
        margin:22px 23px 30px 21px;
        display: flex;
      }
    }
}
