.section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 25px 0px;

  &_flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    &__block1, &__block2 {
      margin-right: 15px;
    }
    &__block1, &__block2, &__block3 {
      width: 100%;
      max-width: 370px;
      height: 608px;
      background: #F4F4F4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & p {
        max-width: 311px;
        width: 100%;
        height: 79px;
      }
    }
  }
}

.b_button {
  max-width: 230px;
  background: #F2C25B;
  border-radius: 4px;
  padding: 16px 24px;
  text-align: center;
  a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    text-decoration: none;
  }
}

.b_img {
  height: 100%;
  display: flex;
}

.b_text {
  padding: 22px 22px 22px 22px;

  & h2 {
      margin: 0px 0px 20px 0px;font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      color: #383838;
  }
}

.section3_heading {
  width: 670px;
  height: 98px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #383838;
  margin: 20px auto;
}

.section3_flexbox2{
  display: flex;
  & .b_img2 {
      height: 130px;
      background-repeat: no-repeat;
      background-size: contain;
      width: 290px;
      background-position: center center;
      margin-left: 20px;
}

  &__block1,  &__block2, {
    margin-right: 15px;
  }
  &__block1,  &__block2, &__block3 {
    padding-top: 20px;
    background: #F4F0EB;
    max-width: 370px;
    width: 100%;
    justify-content: space-between;
    height: 100%;
  }

  & h2 {
    font-size: 20px;
  }
}

