.section9 {
  font-family: "Open Sans", sans-serif;
  background: #F2DAA9;
  padding: 0 10.4vw 0 10.4vw;
  max-width: 1440px;
  min-height: 325px;
  display: flex;
  justify-content: space-between;

  &_img {
    grid-area: img;
  }

  &_firstBlock {
    max-width: 404px;
    width: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    text-align: justify;

    &__heading {
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #383838;

    }

    &__paragraph {
      font-size: 10px;
      line-height: 14px;
      text-align: justify;
    }

    &__link {
      font-size: 12px;
      line-height: 16px;
      text-align: justify;
      text-decoration-line: underline;
      color: #BD462B;
    }

    &__copyright {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #383838;
    }

  }

  &_secondBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 22px;

    &__heading {
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #383838;
    }

    &__link {
      font-size: 14px;
      line-height: 19px;
      text-align: justify;
      text-decoration-line: underline;
      color: #BD462B;
      margin-bottom: 9px
    }

    &__social {
      width: 15vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &_thirdBlock {
    display: flex;
    max-width: 247px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 70px;
    &__heading {
      font-weight: bold;
      font-size: 14px;
      line-height: 19px;
      color: #383838;
    }

    &__linkBlock1 {
      display: flex;
      flex-direction: column;
      & a {
        font-size: 10px;
        line-height: 13px;
        text-align: justify;
        text-decoration-line: underline;
        color: #BD462B;
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
      }
    }

    &__linkBlock2 {
      display: flex;
      flex-direction: column;
      & a {
        font-size: 10px;
        line-height: 13px;
        text-align: justify;
        text-decoration-line: underline;
        color: #BD462B;
        display: flex;
        justify-content: space-between;
        margin-bottom: 9px;
      }
    }

  }
}
