.section4{
  max-width: 1440px;
  height: 100%;
  padding: 2.8vw 10.4vw;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Open Sans", sans-serif;
  background: #F4F0EB;
  & img{
    width: inherit;
  }
  &_textblock{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: space-between;
    &__heading{
      font-weight: bold;
      font-size: 36px;
      line-height: 49px;
      color: #383838;
    }
    &__paragraph{
      font-size: 18px;
      line-height: 25px;
      color: #383838;
    }
    &__button{
      cursor: pointer;
      background: #F2C25B;
      border-radius: 4px;
      width: 152px;
      height: 48px;
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
      &:hover{
        background: #FFCC60;
      }
    }
  }
}
@media screen and (max-width: 900px){
  .section4{
    background: #FFFFFF;
    width: 100%;
    display: grid;
    grid-template-areas: ". heading ."
                          ". img ."
                          ". paragraph ."
                          ". video ."
                          ". button .";
    & img{
      grid-area: img;
      width: inherit;
    }
    &_textblock{
      &__heading{
        grid-area: heading;
      }
      &__paragraph{
        grid-area: paragraph;
      }
      &__video{
        grid-area: video;
      }
      &__button{
        grid-area: button;
      }
    }
  }
}
