.section6{
  background: #F4F0EB;
  max-width: 1440px;
  height: 556px;
  padding: 10.4vw 2.6vw 14.6vw 3.7vw;
  font-family: "Open Sans", sans-serif;
  &_heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #383838;
  }
  &_flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &_newsBlock{
    float: left;
    display: flex;
    flex-direction: column;
    height: 285px;
    justify-content: space-between;
    &__img{
      float: left;
    }
    &__heading{
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #1D1D1D;
    }
    &__link{
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #BD462B;
      text-decoration: none;
    }
  }
  &_dataBlock{
    float: left;
    display: flex;
    flex-direction: column;
    &__img{
      float: left;
    }
    &__heading{
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #1D1D1D;
    }
    &__link{
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #BD462B;
      text-decoration: none;
    }
  }
  &_analytics{
    float: left;
    display: flex;
    flex-direction: column;
    &__img{
      float: left;
    }
    &__heading{
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #1D1D1D;
    }
    &__link{
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #BD462B;
      text-decoration: none;
    }
  }
}
