.header {
  width: 100%;
  height: 112px;
  padding: 0 150px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header_logo {
  background: url("../img/logo_Protocol.svg");
  min-width: 223.85px;
  height: 69.67px;
}
.header_search {
  display: flex;
  width: 420px;
  height: 40px;
  box-sizing: border-box;
  margin-right: 114px;
}
.header_search__searchButton {
  width: 40px;
  border: 1px solid #D8D8D8;
  border-right: none;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  font-size: 20px;
  background: #F7F7F7 url("../img/search (2) 1.svg") no-repeat center;
}
.header_search__searchTerm {
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  border: 1px solid #D8D8D8;
  background: #F7F7F7;
  border-left: none;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: black;
}
.header_registration {
  display: flex;
  background: #F2C25B;
  border-radius: 4px;
  padding: 0 19px;
  width: 177px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.header_registration:hover {
  background: #FFCC60;
}
.header_registration a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}
.header_enter {
  margin-left: 1.2vw;
  padding: 0 19px;
  display: flex;
  background: #BD462B;
  border-radius: 4px;
  color: white;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  transition: 0.4s;
}
.header_enter:hover {
  background: #B62C0C;
}
.header_enter a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-width: 600;
}
.header_loggedBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_loggedBox__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_loggedBox__block.img {
  height: 19px;
  width: 32px;
}
.header_loggedBox__block.link {
  width: 40px;
  height: 40px;
  background-color: white;
  transition: 0.4s;
}
.header_loggedBox__block.link:hover {
  background-color: #FFF2D9;
  border-radius: 20px;
  transform: scale(1.2);
}
.header_loggedBox__block.counter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF3B20;
  border-radius: 7px;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

select {
  margin-left: 1.7vw;
  margin-right: 1vw;
  width: 60px;
  height: 40px;
  background: #F5F5F5;
  box-shadow: 3px 3px 80px rgba(55, 84, 170, 0.1), -3px -3px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 11px 15px 18px 15px;
    height: 100%;
    display: grid;
    grid-template-areas: "logo langChose" "search search" "registration enter";
  }
  .header_logo {
    grid-area: logo;
    background-repeat: no-repeat;
    margin-bottom: 16.2px;
  }
  .header select {
    grid-area: langChose;
    float: right;
  }
  .header_search {
    grid-area: search;
    margin-bottom: 16px;
    margin-right: 0;
    width: 100%;
  }
  .header_registration {
    grid-area: registration;
  }
  .header_enter {
    margin-left: 60px;
    grid-area: enter;
  }
}
@media screen and (min-width: 1900px) {
  .header {
    padding: 0 31.25vw;
  }
}
.navMobile {
  display: none;
}

.nav {
  width: 100%;
  min-height: 48px;
  background: #BD462B;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.nav_list {
  min-width: 1024px;
  max-width: 1040px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav_list__item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  transition: 0.4s;
}
.nav_list__item a:hover {
  background: #E45332;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .navMobile {
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    background: #BD462B;
  }
}
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  float: right;
  top: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 21px;
  height: 2px;
  background-color: #ffffff;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #BD462B;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item a {
  color: #FFFFFF;
}

.menu__item:hover {
  background-color: #E45332;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.section1 {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 16px 150px;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-areas: "empty  img" "heading  img" "paragraph img" "button  img";
}
.section1_heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
  grid-area: heading;
}
.section1_paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #383838;
  grid-area: paragraph;
}
.section1_button {
  background: #F2C25B;
  border-radius: 4px;
  width: 307px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  grid-area: button;
}
.section1_button:hover {
  background: #FFCC60;
}
.section1_button__link {
  text-decoration: none;
  color: black;
  font-family: Roboto, serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: 600;
}
.section1_img {
  grid-area: img;
  background: url("../img/man_idea.svg");
  width: 365px;
  height: 405px;
}

@media screen and (max-width: 1050px) {
  .b_img img {
    max-width: 100%;
  }

  .b_img2 {
    margin: 0;
  }

  .section3_flexbox__block1 p, .section3_flexbox__block2 p, .section3_flexbox__block3 p {
    max-width: 311px;
    width: 100%;
    height: 79px;
    margin-top: 0;
  }

  div.section3_flexbox2__block1, div.section3_flexbox2__block2, div.section3_flexbox2__block3 {
    height: 390px;
    width: 246px;
  }

  .b_text {
    display: flex;
    flex-direction: column;
  }

  .section3_flexbox2__block1, .section3_flexbox2__block2, .section3_flexbox2__block3 {
    flex-direction: column;
    display: flex;
  }

  div.section3_flexbox2 .b_img2 {
    margin-left: 0;
  }

  .section3_flexbox2 img {
    height: 130px;
  }

  section.section4 {
    padding: 2.8vw 10px;
  }

  section img.section4_img {
    width: 400px;
  }

  .section4_textblock__heading {
    margin: 0;
  }

  .section5 {
    padding: 10px;
  }

  section.section6 {
    padding: 10px;
  }

  .nav_list {
    min-width: 100%;
  }

  section.section5 {
    width: auto;
  }

  section.section9 {
    padding: 10px;
  }

  .section3_flexbox2__block1 .b_img2, .section3_flexbox2 img, div.section3_flexbox2 .b_img2 {
    width: 246px;
    height: 62px;
  }

  div.b_button {
    padding: 0 24px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div .section3_flexbox__block1 p, div .section3_flexbox__block2 p, div .section3_flexbox__block3 p {
    max-width: 311px;
    width: 100%;
    height: 129px;
  }

  .section4Mob_img {
    width: 41vw;
    margin: 0 auto;
  }

  iframe.section4Mob_video {
    margin: 0 auto;
  }

  .section4Mob_button {
    margin: 15px auto 0;
  }

  img.section5_img {
    width: 520px;
  }

  img.section6_newsBlock__img, img.section6_dataBlock__img, img.section6_analytics__img {
    box-sizing: border-box;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .section7 {
    padding: 10px;
  }

  div.num {
    font-size: 34px;
    line-height: 67px;
  }

  div.section7_counters__counter {
    max-width: 160px;
  }

  section.section9 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }

  .section9_firstBlock, .section9_secondBlock, .section9_thirdBlock {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .section1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .section1_heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }
  .section1_paragraph {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }
  .section1_img {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 600px) {
  .section9_secondBlock {
    order: 3;
  }

  h1.section3_heading {
    width: 100%;
    height: 58px;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    text-align: center;
    color: #383838;
    margin: 20px auto;
  }

  .section3_flexbox, .section3_flexbox2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    flex-direction: column;
  }

  div.section3_flexbox__block1, div.section3_flexbox__block2, div.section3_flexbox__block3 {
    width: 100%;
    max-width: 100%;
  }

  div .section3_flexbox__block1 p, div .section3_flexbox__block2 p, div .section3_flexbox__block3 p {
    max-width: 100%;
    width: 100%;
    height: 50%;
  }

  div.section3_flexbox__block1, div.section3_flexbox__block2, div.section3_flexbox__block3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    margin: 5px auto;
  }

  .section1 {
    padding: 5px;
    margin-bottom: 10px;
  }

  h1.section1_heading {
    text-align: center;
  }

  .section1_button {
    width: 90%;
  }

  .b_text {
    justify-content: center;
    align-items: center;
  }

  div.b_button {
    width: 100%;
    max-width: 90%;
  }

  .header_enter {
    margin-left: 40px;
  }

  section.section6 {
    height: auto;
  }

  div.section6_flexbox {
    flex-direction: column;
  }

  img.section6_dataBlock__img, img.section6_newsBlock__img, img.section6_analytics__img {
    width: 56px;
  }

  div.section6_dataBlock {
    margin-top: 108px;
  }

  h2.section6_heading {
    display: flex;
    font-size: 24px;
    line-height: 33px;
    justify-content: center;
  }

  div.section7_counters {
    justify-content: space-around;
  }

  div.section3_flexbox2__block1, div.section3_flexbox2__block2, div.section3_flexbox2__block3 {
    max-width: 100%;
    width: 100%;
    margin: 0 0 10px 0;
  }

  div.section3_flexbox {
    margin-bottom: 5px;
  }

  h2.section4Mob_heading {
    text-align: center;
  }

  .section3 {
    padding: 0;
  }

  div.b_button {
    height: 48px;
    min-height: 48px;
  }

  div.section4Mob_button {
    width: 90%;
  }

  .section3_flexbox2__block1 .b_img2, .section3_flexbox2 img, div.section3_flexbox2 .b_img2 {
    width: 100%;
    height: 100%;
  }

  .section4Mob_img {
    width: 100%;
    margin: 0 auto;
  }

  div.section5_button {
    width: 90%;
    margin: 0 auto;
    position: absolute;
    bottom: 10px;
    z-index: 2;
    left: 0;
    right: 0;
  }

  img.section5_img {
    position: relative;
    width: 100%;
  }

  section.section5 {
    height: 100%;
  }

  section.section5 {
    height: 600px;
    padding-bottom: 5px;
  }

  .section7 {
    max-width: 100%;
    width: 100%;
    padding: 0;
  }

  h2.section7_heading, .section7_heading {
    padding-left: 10px;
  }

  .section7_linkBlock {
    padding: 10px;
  }
}
@media screen and (max-width: 400px) {
  .header {
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  iframe {
    max-width: 100%;
  }

  .section1_img {
    max-width: 100%;
  }

  div.header_registration {
    width: 80%;
    margin-bottom: 5px;
  }

  .header_enter {
    margin-left: 0px;
    width: 80%;
  }

  .header_search {
    margin-right: 0;
    width: 92%;
    margin-bottom: 5px;
  }

  label {
    width: 95%;
    display: flex;
    margin-bottom: 5px;
  }

  div.section9_thirdBlock {
    margin-bottom: 0;
  }
}
.section2 {
  height: 613px;
  background: #F4F0EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section2_heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}
.section2_video__mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .section2 {
    height: 296px;
  }
  .section2_heading {
    font-size: 24px;
    line-height: 33px;
  }
  .section2_video {
    display: none;
  }
  .section2_video__mobile {
    margin: 22px 23px 30px 21px;
    display: flex;
  }
}
.section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 0px 25px 0px;
}
.section3_flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.section3_flexbox__block1, .section3_flexbox__block2 {
  margin-right: 15px;
}
.section3_flexbox__block1, .section3_flexbox__block2, .section3_flexbox__block3 {
  width: 100%;
  max-width: 370px;
  height: 608px;
  background: #F4F4F4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section3_flexbox__block1 p, .section3_flexbox__block2 p, .section3_flexbox__block3 p {
  max-width: 311px;
  width: 100%;
  height: 79px;
}

.b_button {
  max-width: 230px;
  background: #F2C25B;
  border-radius: 4px;
  padding: 16px 24px;
  text-align: center;
  transition: 0.4s;
}
.b_button a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.b_button:hover {
  background: #FFCC60;
}

.b_img {
  height: 100%;
  display: flex;
}

.b_text {
  padding: 22px 22px 22px 22px;
}
.b_text h2 {
  margin: 0px 0px 20px 0px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #383838;
}

.section3_heading {
  width: 670px;
  height: 98px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #383838;
  margin: 20px auto;
}

.section3_flexbox2 {
  display: flex;
}
.section3_flexbox2__block1, .section3_flexbox2__block2 {
  margin-right: 15px;
}
.section3_flexbox2__block1, .section3_flexbox2__block2, .section3_flexbox2__block3 {
  padding-top: 20px;
  background: #F4F0EB;
  max-width: 370px;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
.section3_flexbox2 h2 {
  font-size: 20px;
}

.section3_flexbox2__block3 .b_img2 {
  content: "";
  background: url("../img/law_search.png");
  height: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 290px;
  background-position: center center;
  margin-left: 20px;
}

.section3_flexbox2__block1 .b_img2 {
  content: "";
  background: url("../img/Comunity.png");
  height: 130px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 290px;
  background-position: center center;
  margin-left: 20px;
}

.b_img2 {
  height: 130px;
}

.section4Mob {
  display: none;
}

.section4 {
  height: 100%;
  padding: 30px 150px;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Open Sans", sans-serif;
  background: #F4F0EB;
}
.section4 img {
  width: inherit;
}
.section4_textblock {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
}
.section4_textblock__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
}
.section4_textblock__paragraph {
  font-size: 18px;
  line-height: 25px;
  color: #383838;
}
.section4_textblock__button {
  margin-top: 31px;
  cursor: pointer;
  background: #F2C25B;
  border-radius: 4px;
  width: 152px;
  height: 48px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.section4_textblock__button:hover {
  background: #FFCC60;
}
.section4_textblock__button a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .section4 {
    display: none;
  }

  .section4Mob {
    display: flex;
    flex-direction: column;
    padding: 21px 17px 21px 18px;
  }
  .section4Mob_heading {
    float: left;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #383838;
  }
  .section4Mob_paragraph {
    float: left;
    font-size: 14px;
    line-height: 19px;
    color: #383838;
  }
  .section4Mob_button {
    margin-top: 21px;
    cursor: pointer;
    background: #F2C25B;
    border-radius: 4px;
    width: 152px;
    height: 48px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
  }
  .section4Mob_button:hover {
    background: #FFCC60;
  }
}
@media screen and (min-width: 1900px) {
  .section4 {
    padding: 0 30vw;
  }
}
.section5 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 auto;
  height: 468px;
  max-width: 1120px;
}
.section5_heading {
  grid-area: heading;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
}
.section5 .section5_paragraph {
  font-size: 18px;
  line-height: 25px;
  color: #383838;
  max-width: 697px;
}
.section5_button {
  margin-top: 20px;
  grid-area: button;
  cursor: pointer;
  background: #F2C25B;
  border-radius: 4px;
  width: 152px;
  height: 48px;
  font-family: Roboto, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.section5_button:hover {
  background: #FFCC60;
}
.section5_button a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.section5_img {
  position: absolute;
  right: 0;
  bottom: 0;
}

.section6 {
  background: #F4F0EB;
  height: 556px;
  padding: 30px 150px;
  font-family: "Open Sans", sans-serif;
}
.section6_heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
}
.section6_flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section6_newsBlock {
  float: left;
  display: flex;
  flex-direction: column;
  height: 285px;
  justify-content: space-between;
}
.section6_newsBlock__img {
  box-sizing: border-box;
  padding-right: 220px;
  margin-bottom: 10px;
}
.section6_newsBlock__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #1D1D1D;
  margin-bottom: 40px;
}
.section6_newsBlock__link {
  text-decoration: none;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #BD462B;
}
.section6_dataBlock {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section6_dataBlock__img {
  box-sizing: border-box;
  padding-right: 220px;
}
.section6_dataBlock__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #1D1D1D;
}
.section6_dataBlock__link {
  text-decoration: none;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #BD462B;
}
.section6_analytics {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section6_analytics__img {
  box-sizing: border-box;
  padding-right: 220px;
}
.section6_analytics__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #1D1D1D;
}
.section6_analytics__link {
  text-decoration: none;
  margin-bottom: 10px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #BD462B;
}

@media screen and (min-width: 1900px) {
  .section6 {
    padding: 0 30vw;
  }
}
.section7 {
  max-width: 1000px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}
.section7_heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
}
.section7_counters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #383838;
}
.section7_counters__counter {
  max-width: 230px;
}
.section7_linkBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section7_linkBlock img {
  margin-right: 15px;
}
.section7_linkBlock a {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #383838;
  text-decoration: none;
  display: flex;
  margin-bottom: 18px;
  text-align: left;
}

.num {
  font-weight: 600;
  font-size: 64px;
  line-height: 87px;
  color: #BD462B;
}

.section7_linkBLock__link img {
  margin-right: 20px;
}

.section8 {
  max-width: 1440px;
  width: 100%;
  margin-bottom: -8px;
}
.section8_waves {
  background: url("../img/wawes.svg");
  max-width: 1440px;
  height: 188px;
}

.section9 {
  font-family: "Open Sans", sans-serif;
  background: #F2DAA9;
  padding: 0 150px;
  min-height: 325px;
  display: flex;
  justify-content: space-between;
}
.section9_img {
  grid-area: img;
}
.section9_firstBlock {
  max-width: 404px;
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-align: justify;
}
.section9_firstBlock__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}
.section9_firstBlock__paragraph {
  font-size: 10px;
  line-height: 14px;
  text-align: justify;
}
.section9_firstBlock__link {
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  text-decoration-line: underline;
  color: #BD462B;
}
.section9_firstBlock__copyright {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #383838;
}
.section9_secondBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 22px;
}
.section9_secondBlock__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}
.section9_secondBlock__link {
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  text-decoration-line: underline;
  color: #BD462B;
  margin-bottom: 9px;
}
.section9_secondBlock__social {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section9_thirdBlock {
  display: flex;
  max-width: 247px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 70px;
}
.section9_thirdBlock__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}
.section9_thirdBlock__linkBlock1 {
  display: flex;
  flex-direction: column;
}
.section9_thirdBlock__linkBlock1 a {
  font-size: 10px;
  line-height: 13px;
  text-align: justify;
  text-decoration-line: underline;
  color: #BD462B;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}
.section9_thirdBlock__linkBlock2 {
  display: flex;
  flex-direction: column;
}
.section9_thirdBlock__linkBlock2 a {
  font-size: 10px;
  line-height: 13px;
  text-align: justify;
  text-decoration-line: underline;
  color: #BD462B;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

@media screen and (min-width: 1900px) {
  .section9 {
    padding: 0 32vw;
  }
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
