body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100vw;
  height: 112px;
  padding: 0 10.5vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.header_logo {
  background: url("../img/logo_Protocol.svg");
  min-width: 223.85px;
  height: 69.67px;
}
.header_search {
  display: flex;
  width: 420px;
  height: 40px;
  box-sizing: border-box;
  margin-right: 8vw;
}
.header_search__searchButton {
  width: 40px;
  border: 1px solid #D8D8D8;
  border-right: none;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  font-size: 20px;
  background: #F7F7F7 url("../img/search (2) 1.svg") no-repeat center;
}
.header_search__searchTerm {
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  border: 1px solid #D8D8D8;
  background: #F7F7F7;
  border-left: none;
  padding: 5px;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: black;
}
.header_registration {
  display: flex;
  background: #F2C25B;
  border-radius: 4px;
  padding: 0 19px;
  width: 177px;
  height: 40px;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.header_registration:hover {
  background: #FFCC60;
}
.header_registration a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 16px;
}
.header_enter {
  margin-left: 1.2vw;
  padding: 0 19px;
  display: flex;
  background: #BD462B;
  border-radius: 4px;
  color: white;
  width: 80px;
  height: 40px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  transition: 0.4s;
}
.header_enter:hover {
  background: #B62C0C;
}
.header_enter a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 16px;
}

select {
  margin-left: 1.7vw;
  margin-right: 1vw;
  width: 60px;
  height: 40px;
  background: #F5F5F5;
  box-shadow: 3px 3px 80px rgba(55, 84, 170, 0.1), -3px -3px 80px #FFFFFF, inset 4px 4px 20px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 1px solid #D8D8D8;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 11px 15px 18px 15px;
    height: 100%;
    display: grid;
    grid-template-areas: "logo langChose" "search search" "registration enter";
  }
  .header_logo {
    grid-area: logo;
    background-repeat: no-repeat;
    margin-bottom: 16.2px;
  }
  .header select {
    grid-area: langChose;
    float: right;
  }
  .header_search {
    grid-area: search;
    margin-bottom: 16px;
    margin-right: 0px;
    width: 100%;
  }
  .header_registration {
    grid-area: registration;
  }
  .header_enter {
    margin-left: 120px;
    grid-area: enter;
  }
}
.navMobile {
  display: none;
}

.nav {
  max-width: 1440px;
  min-height: 48px;
  background: #BD462B;
  box-sizing: border-box;
  padding: 0 12vw;
}
.nav_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav_list__item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  transition: 0.4s;
}
.nav_list__item a:hover {
  background: #E45332;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }

  .navMobile {
    display: flex;
    float: right;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    background: #BD462B;
  }
}
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  float: right;
  top: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 21px;
  height: 2px;
  background-color: #ffffff;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #BD462B;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item a {
  color: #FFFFFF;
}

.menu__item:hover {
  background-color: #E45332;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__text {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.section1 {
  height: 467px;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 16px 10.4vw 8.5vw 10.4vw;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-template-areas: "empty  img" "heading  img" "paragraph img" "button  img";
}
.section1_heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
  grid-area: heading;
}
.section1_paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #383838;
  grid-area: paragraph;
}
.section1_button {
  background: #F2C25B;
  border-radius: 4px;
  width: 307px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  grid-area: button;
}
.section1_button:hover {
  background: #FFCC60;
}
.section1_button__link {
  text-decoration: none;
  color: black;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
.section1_img {
  grid-area: img;
  background: url("../img/man_idea.svg");
  width: 365px;
  height: 405px;
}

@media screen and (max-width: 768px) {
  .section1 {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .section1_heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
  }
  .section1_paragraph {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
  }
  .section1_img {
    margin-bottom: 12px;
  }
}
.section2 {
  height: 613px;
  max-width: 1440px;
  background: #F4F0EB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section2_heading {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
}
.section2_video__mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .section2 {
    height: 296px;
  }
  .section2_heading {
    font-size: 24px;
    line-height: 33px;
  }
  .section2_video {
    display: none;
  }
  .section2_video__mobile {
    margin: 22px 23px 30px 21px;
    display: flex;
  }
}
.section3 {
  font-family: "Open Sans", sans-serif;
  max-width: 1440px;
}
.section3_heading {
  margin: 2.8vw 26.7vw;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #383838;
}
.section3_flexbox1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10.4vw;
  margin-right: 10.4vw;
}
.section3_flexbox1__block1 {
  box-sizing: border-box;
  background: #F4F4F4;
  width: 25.7vw;
  height: 100%;
  padding-top: 81.1px;
  float: left;
  margin-right: 15px;
}
.section3_flexbox1__block1 img {
  width: inherit;
  margin-bottom: 50px;
}
.section3_flexbox1__block1 h2 {
  margin: 74px 17px 33px 24px;
  font-size: 24px;
  line-height: 33px;
  color: #383838;
}
.section3_flexbox1__block1 p {
  font-size: 14px;
  line-height: 19px;
  color: #383838;
  margin-left: 1.7vw;
  margin-bottom: 20px;
}
.section3_flexbox1__block1 div {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: flex;
  margin-left: 1.7vw;
  margin-bottom: 27px;
  background: #F2C25B;
  border-radius: 4px;
  width: 15vw;
  height: 48px;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.section3_flexbox1__block1 div:hover {
  background: #FFCC60;
}
.section3_flexbox1__block2 {
  background: #F4F4F4;
  width: 25.7vw;
  height: 100%;
  float: left;
  margin-right: 15px;
}
.section3_flexbox1__block2 img {
  margin-top: 66.9px;
  margin-bottom: 50px;
  width: inherit;
}
.section3_flexbox1__block2 h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #383838;
  padding: 20.5px 35px 0 24px;
  margin-bottom: 40px;
}
.section3_flexbox1__block2 p {
  font-size: 14px;
  line-height: 19px;
  color: #383838;
  margin: 0 17px 30px 24px;
}
.section3_flexbox1__block2 div {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: flex;
  margin-left: 1.7vw;
  margin-bottom: 27px;
  background: #F2C25B;
  border-radius: 4px;
  width: 15vw;
  height: 48px;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.section3_flexbox1__block2 div:hover {
  background: #FFCC60;
}
.section3_flexbox1__block3 {
  background: #F4F4F4;
  width: 25.7vw;
  height: 100%;
  float: left;
}
.section3_flexbox1__block3 h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #383838;
  padding: 20.5px 35px 16px 24px;
}
.section3_flexbox1__block3 img {
  width: inherit;
}
.section3_flexbox1__block3 p {
  font-size: 14px;
  line-height: 19px;
  color: #383838;
  margin-left: 24px;
  margin-right: 17px;
}
.section3_flexbox1__block3 div {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: flex;
  margin-left: 1.7vw;
  margin-bottom: 27px;
  background: #F2C25B;
  border-radius: 4px;
  width: 15vw;
  height: 48px;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.section3_flexbox1__block3 div:hover {
  background: #FFCC60;
}
.section3_flexbox2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 10.4vw 42px 10.4vw;
}
.section3_flexbox2__block1 {
  width: 370px;
  height: 382px;
  background: #F4F0EB;
  margin-right: 15px;
}
.section3_flexbox2__block1 img {
  margin: 16px 36px 16px 24px;
}
.section3_flexbox2__block1 h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #383838;
  margin-left: 24px;
}
.section3_flexbox2__block1 p {
  font-size: 14px;
  line-height: 19px;
  color: #383838;
  margin: auto 24px;
}
.section3_flexbox2__block1 div {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: flex;
  margin-left: 1.7vw;
  background: #F2C25B;
  border-radius: 4px;
  width: 15vw;
  height: 48px;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.section3_flexbox2__block1 div:hover {
  background: #FFCC60;
}
.section3_flexbox2__block2 {
  box-sizing: border-box;
  width: 370px;
  height: 382px;
  background: #F4F0EB;
  float: left;
  padding-left: 24px;
  margin-right: 15px;
}
.section3_flexbox2__block2 img {
  margin: 27.5px 22.21px 28.75px 6px;
}
.section3_flexbox2__block2 h2 {
  font-size: 20px;
  line-height: 27px;
  color: #383838;
}
.section3_flexbox2__block2 p {
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}
.section3_flexbox2__block2 div {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: flex;
  background: #F2C25B;
  border-radius: 4px;
  width: 15vw;
  height: 48px;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.section3_flexbox2__block2 div:hover {
  background: #FFCC60;
}
.section3_flexbox2__block3 {
  box-sizing: border-box;
  width: 370px;
  height: 382px;
  background: #F4F0EB;
  float: left;
  padding-left: 24px;
}
.section3_flexbox2__block3 img {
  margin: 27.5px 22.21px 28.75px 6px;
}
.section3_flexbox2__block3 h2 {
  font-size: 20px;
  line-height: 27px;
  color: #383838;
}
.section3_flexbox2__block3 p {
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}
.section3_flexbox2__block3 div {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  display: flex;
  background: #F2C25B;
  border-radius: 4px;
  width: 15vw;
  height: 48px;
  font-size: 14px;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.section3_flexbox2__block3 div:hover {
  background: #FFCC60;
}

@media screen and (max-width: 768px) {
  .section3_heading {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin: 18px 19px 31px 21px;
  }
  .section3_flexbox1 {
    flex-direction: column;
  }
  .section3_flexbox2 {
    flex-direction: column;
  }
}
.section4 {
  max-width: 1440px;
  height: 613px;
  padding: 2.8vw 10.4vw;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  background: #F4F0EB;
}
.section4_textblock {
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
}
.section4_textblock__heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
}
.section4_textblock__paragraph {
  font-size: 18px;
  line-height: 25px;
  color: #383838;
}
.section4_textblock__button {
  cursor: pointer;
  background: #F2C25B;
  border-radius: 4px;
  width: 152px;
  height: 48px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.section4_textblock__button:hover {
  background: #FFCC60;
}

.section5 {
  max-width: 1440px;
  height: 613px;
  padding: 2.8vw 10.4vw;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
}
.section5_heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
}
.section5_paragraph {
  font-size: 18px;
  line-height: 25px;
  color: #383838;
}
.section5_button {
  cursor: pointer;
  background: #F2C25B;
  border-radius: 4px;
  width: 152px;
  height: 48px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}
.section5_button:hover {
  background: #FFCC60;
}
.section5_img {
  float: right;
}

.section6 {
  background: #F4F0EB;
  max-width: 1440px;
  height: 556px;
  padding: 2.6vw 10.4vw 3.7vw 14.6vw;
  font-family: "Open Sans", sans-serif;
}
.section6_heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
}
.section6_flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section6_newsBlock {
  float: left;
  display: flex;
  flex-direction: column;
  height: 285px;
  justify-content: space-between;
}
.section6_newsBlock__img {
  float: left;
}
.section6_newsBlock__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #1D1D1D;
}
.section6_newsBlock__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #BD462B;
  text-decoration: none;
}
.section6_dataBlock {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section6_dataBlock__img {
  float: left;
}
.section6_dataBlock__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #1D1D1D;
}
.section6_dataBlock__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #BD462B;
  text-decoration: none;
}
.section6_analytics {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section6_analytics__heading {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #1D1D1D;
}
.section6_analytics__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #BD462B;
  text-decoration: none;
}

.section7 {
  padding: 3.5vw 10.4vw 0 10.4vw;
  font-family: "Open Sans", sans-serif;
}
.section7_heading {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #383838;
}
.section7_counters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #383838;
}
.section7_counters_counter {
  flex: 1;
  text-align: center;
  padding: 20px;
  color: #fff;
  text-transform: uppercase;
}
.section7_counters_counter i {
  font-size: 40px;
  color: #333;
}
.section7_linkBlock {
  display: flex;
  flex-direction: column;
}
.section7_linkBlock__link {
  margin-bottom: 18px;
}

.num {
  font-weight: 600;
  font-size: 64px;
  line-height: 87px;
  color: #BD462B;
}

a {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #383838;
  text-decoration: none;
  display: flex;
  text-align: center;
}

.section8_waves {
  background: url("../img/wawes.svg");
  max-width: 1440px;
  height: 188px;
}

.section9 {
  font-family: "Open Sans", sans-serif;
  background: #F2DAA9;
  padding: 0 10.4vw 0 10.4vw;
  max-width: 1440px;
  moin-height: 325px;
  display: grid;
  grid-template-areas: "img . ." "firstBlock secondBlock thirdBlock";
}
.section9_img {
  grid-area: img;
}
.section9_firstBlock {
  grid-area: firstBlock;
  width: 28.1vw;
}
.section9_firstBlock__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}
.section9_firstBlock__paragraph {
  font-size: 10px;
  line-height: 14px;
  text-align: justify;
}
.section9_firstBlock__link {
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  text-decoration-line: underline;
  color: #BD462B;
}
.section9_firstBlock__copyright {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #383838;
}
.section9_secondBlock {
  grid-area: secondBlock;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section9_secondBlock__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}
.section9_secondBlock__link {
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  text-decoration-line: underline;
  color: #BD462B;
}
.section9_secondBlock__social {
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section9_thirdBlock {
  grid-area: thirdBlock;
  display: grid;
  grid-template-areas: "heading . " "linkBlock1 linkBlock2";
}
.section9_thirdBlock__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #383838;
}
.section9_thirdBlock__linkBlock1 {
  grid-area: linkBlock1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section9_thirdBlock__linkBlock1 a {
  font-size: 10px;
  line-height: 13px;
  text-align: justify;
  text-decoration-line: underline;
  color: #BD462B;
  display: flex;
  justify-content: space-between;
}
.section9_thirdBlock__linkBlock2 {
  grid-area: linkBlock2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section9_thirdBlock__linkBlock2 a {
  font-size: 10px;
  line-height: 13px;
  text-align: justify;
  text-decoration-line: underline;
  color: #BD462B;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
